<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="../../assets/images/logo.png" alt="logo" class="logo"></mat-toolbar>
    <mat-nav-list class="menuNav">
      <a mat-list-item routerLink="/stock">
        <div class="navList"> <mat-icon>home</mat-icon> <span>STOCK</span></div>
      </a>
      <a mat-list-item routerLink="/dashboard">
        <div class="navList"><mat-icon>dashboard</mat-icon><span>DASHBOARD</span> </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navBar">
      <div>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>FishOcean</span>
      </div>
      <div class="userAdmin">
        <!-- Show username if user is connected -->
        <div>
          <span *ngIf="isLoggedIn()">{{ username }} 
            <mat-icon>woman</mat-icon>
            <span (click)="logout()">Logout</span></span>
        </div>
        <!-- Show login link if user is not connected -->
        <div>
          <span *ngIf="!isLoggedIn()">Bienvenue </span>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <app-my-dashboard></app-my-dashboard> -->
    <!-- <app-simple-table></app-simple-table> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>