<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  
  <div class="row">
    <div class="graph1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Marge</mat-card-title>
        </mat-card-header>
        <mat-card-content id="margeGraph">
          <app-marge-graph></app-marge-graph>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="graph2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Taxe</mat-card-title>
        </mat-card-header>
        <mat-card-content id="margeGraph">
          <app-taxes-graph></app-taxes-graph>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-card class="trans_grap"> 
    <mat-card-header>
      <mat-card-title>Transactions</mat-card-title>
    </mat-card-header>
    <mat-card-content id="soldGraph">
      <app-sold-graph></app-sold-graph>
    </mat-card-content>
  </mat-card>

</div>