<!-- sold-graph.component.html -->

<div>
  <mat-form-field>
    <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" [(ngModel)]="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [(ngModel)]="endDate">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <button mat-button (click)="applyDateFilter()"  class="applyButton">Apply</button>
</div>

<div class="chart-container">
  <canvas id="transactionChart"></canvas>
</div>