<div class="styleButton">
    <button mat-raised-button (click)="applyFilter(null)">Tout</button>
    <button mat-raised-button (click)="applyFilter('0')">Poissons</button>
    <button mat-raised-button (click)="applyFilter('1')">Fruits de mer</button>
    <button mat-raised-button (click)="applyFilter('2')">Crustacés</button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="purchase_price">
      <th mat-header-cell *matHeaderCellDef class="center">Purchase_price €</th>
      <td mat-cell *matCellDef="let element">{{element.purchase_price}} </td>
    </ng-container>

    <ng-container matColumnDef="sold_price">
      <th mat-header-cell *matHeaderCellDef class="center">Sold_price €</th>
      <td mat-cell *matCellDef="let element" [class.editedValue]="element.isEdited"
        (input)="editField($event, element, 'sold_price')" (click)="clearInput($event)"
        (blur)="OnBlurField($event, element, 'sold_price')" contenteditable>{{element.sold_price}} </td>
    </ng-container>

    <ng-container matColumnDef="promotion_status">
      <th mat-header-cell *matHeaderCellDef>promotion</th>
      <td mat-cell *matCellDef="let element" [class.editedValue]="element.isEdited">{{element.promotion_status}}</td>
    </ng-container>

    <ng-container matColumnDef="promotion_price">
      <th mat-header-cell *matHeaderCellDef class="center">promo €</th>
      <td mat-cell *matCellDef="let element" [class.editedValue]="element.isEdited">{{element.promotion_price}}</td>
    </ng-container>

    <ng-container matColumnDef="promotion_percent">
      <th mat-header-cell *matHeaderCellDef class="center">promo %</th>
      <td mat-cell *matCellDef="let element" [class.editedValue]="element.isEdited" 
      (input)="editField($event, element, 'promotion_percent')" (click)="clearInput($event)"
      (blur)="OnBlurField($event, element, 'promotion_percent')" contenteditable>{{element.promotion_percent}}</td>
    </ng-container>

    <ng-container matColumnDef="sold_number">
      <th mat-header-cell *matHeaderCellDef class="center">Nb des Vendus</th>
      <td mat-cell *matCellDef="let element">{{element.sold_number}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element" [class.editedValue]="element.isEdited"
        (input)="editField($event, element, 'quantity')" (click)="clearInput($event)"
        (blur)="OnBlurField($event, element, 'quantity')" contenteditable>{{element.quantity}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <!-- Table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<div class="btnAction">
  <button mat-raised-button (click)="onEditProduct()">Envoyer</button>
  <button mat-raised-button (click)="OnCancel()" [disabled]="!isAnyEdited">Annuler</button>
</div>
